<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyman.video">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".system.SystemCameraActivity" />
        <activity android:name=".system.TakePhotoActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lyman.video.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".system.TakeVideoActivity" />
        <activity android:name=".camera.CameraActivity" />
        <activity android:name=".camera2.Camera2Activity" />
        <activity android:name=".decompose_compose.DecomposeAndComposeActivity" />
        <activity android:name=".encode_decode.EncodeAndDecodeActivity" />
        <activity android:name=".encode_decode.encode.camera2.EncodeYUVToH264Activity2" />
        <activity android:name=".encode_decode.encode.camera.EncodeYUVToH264Activity" />
        <activity android:name=".encode_decode.decode.DecodeH264ToSurfaceViewActivity" />
        <activity android:name=".encode_decode.decode.DecodeH264ToTextureViewActivity"></activity>
    </application>

</manifest>